=flex-center ()
  display: flex
  justify-content: center
  align-items: center

=center-item ($position)
  position: $position
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

=center-item-y ($position: absolute)
  position: $position
  top: 50%
  transform: translateY(-50%)

=center-item-x ($position: absolute)
  position: $position
  left: 50%
  transform: translateX(-50%)

=font ($name,$w, $pathWoff2, $pathWoff)
   @font-face
     font:
       family: $name
       weight: $w
       style: normal
       display: swap
     src: local($name), url($pathWoff2) format('woff2'), url($pathWoff) format('woff')

=bgp($path, $s, $pos1, $pos2 )
  background:
    repeat: no-repeat
    image: url($path)
    size: $s
    position: $pos1 $pos2

%sans-400
  font:
    family: 'Hypatia-Sans-Pro-Regular'
    weight: 400
%sans-600
  font:
    family: 'Hypatia-Sans-Pro-Semibold'
    weight: 600
%forum
  font:
    family: 'Forum-Regular'
    weight: 400

%close-btn
  padding: 0
  border: 1px solid rgba(211, 210, 208, 0.56)
  width: 40px
  height: 40px
  border-radius: 50%
  +flex-center()
  cursor: pointer
  position: absolute
  right: 24px
  top: 24px