section.content
    .container
        h1.content__title Резиденции <span><br></span>элит-класса на первой береговой
        .content__list-wrapper
            ul.content__list
                li.content__item
                    p.content__item-text 6 открытых и&nbsp;закрытых бассейнов
                li.content__item
                    p.content__item-text Частный пляж с&nbsp;тропическим баром и&nbsp;массажной галькой
                li.content__item
                    p.content__item-text 3 ресторана с&nbsp;разными кухнями, объединенные одной концепцией
                li.content__item
                    p.content__item-text Ультрасовременный детский центр с&nbsp;кинотеатром, VR-аттракционами и&nbsp;скалолазанием
        .content__buttons
            a.content__link(href='#')
                span Скачать презентацию
            a.content__play(data-fancybox href="https://vimeo.com/713794702")
                img.content__play-icon(src='images/play.svg')