head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Volna Residence - Резиденции элит-класса на первой береговой
  link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css")
  link(rel="stylesheet" href="css/style.min.css")
  link(rel="shortcut icon" href="images/favicon.png" type="image/x-icon")
  script(defer src='js/main.min.js')
