header.header
  .container 
    .header__inner
      p.header__title Volna Residence
      a.header__adress(href="https://yandex.ru/maps/-/CCUyzCrUSA" target='_blank')
        img.header__adress-icon(src="images/mark.svg")
        p.header__adress-text Сочи, ул. Ленина 217а